<ion-content>

  <div align="center" style="margin-top: 5%;">
    <img src="assets/verifypage.gif" width="90%" height="90%" alt="">
  </div>

  <div align="center" class="pt-10" style="margin-top: -3vh;">
    <ion-label class="text-2xl" style="color: black;"><b>Enter The <span style="color: #0d4168;">Verification
          Code</span></b>
    </ion-label><br>
    <p class="text-xs text-gray-600">Enter the 4 digit OTP number</p>
  </div>

  <div class="p-4">

    <ion-grid fixed>
      <ion-row>
        <ion-col size="3">
          <ion-item class="border-2 shadow-md bg-gray-200" lines="none">
            <ion-input align="center" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item class="border-2 shadow-md bg-gray-200" lines="none">
            <ion-input align="center" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item class="border-2 shadow-md bg-gray-200" lines="none">
            <ion-input align="center" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item class="border-2 shadow-md bg-gray-200" lines="none">
            <ion-input align="center" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="pt-3 pl-2 pr-2" routerLink="/dashboard">
      <button expand="block" class="btn-3 w-full p-4 text-white rounded-sm text-xs">
        Verify OTP
      </button>
    </div>
  </div>
</ion-content>
