<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> Profile </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content *ngFor="let member12 of allservices" >
  <div class="img_conn" style="background-image: url('../../../assets/bg_img.png')"></div>

  <div class="p-2">
    <ion-grid fixed>
      <ion-row class="">
        <ion-col size="5">
          <img class="rounded-md shadow-md" style="z-index: 1000; margin-top:-60%; " src="{{this.filepreview}}" alt="">
        </ion-col>
        <ion-col size="7" class="pl-2 text-black font-semibold">
         {{member12["fname"]+ " "+member12["lname"]}}<br>
          <span class="text-sm text-gray-500">
            +91 {{member12["mobile"]}}
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="pl-5 pr-5">
    <div class="flex justify-between bg-sky-300 shadow-md p-2 rounded-md border-2 border-gray-200">
      <div align="center" class="pl-4"><b>{{member12["count11"]}}</b><br>
        <span class="text-black text-sm">Family Member</span>
      </div>
      <div class="border-r-2  border-gray-400"></div>
      <div align="center" class="pr-6"><b>2</b><br>
        <span class="text-black text-sm">Total Test</span>
      </div>
    </div>
  </div>

  <div class=" pl-5 pt-5 pr-3">
    <div class="flex justify-start">
      <p class="text-sm"><b>Address</b></p>
    </div>
    <div class="flex justify-start">
      <p class="text-sm text-gray-600"> {{member12["address"]}}</p>
    </div>
  </div>

  <div class=" pl-5 pt-5 pr-3">
    <div class="flex justify-start">
      <p class="text-sm"><b>Email ID</b></p>
    </div>
    <div class="flex justify-start">
      <p class="text-sm text-gray-600">{{member12["email"]}} </p>
    </div>
  </div>

  <div class=" pl-5 pt-5 pr-3">
    <div class="flex justify-start">
      <p class="text-sm"><b>Date of Birth</b></p>
    </div>
    <div class="flex justify-start">
      <p class="text-sm text-gray-600"> {{member12["dob"]}}</p>
    </div>
  </div>

</ion-content>
<app-footer></app-footer>
